{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path('app_signup_post') }}" data-turbo="false">
        <h1 class="sign-header">Sign Up</h1>
        {% if app.request.query.get('error') %}
            <div class="error-message">{{ app.request.query.get('error') }}</div>
        {% endif %}
        <twig:Input type="text" placeholder="First Name" name="fname" required="true" />
        <twig:Input type="text" placeholder="Last Name" name="lname" required="true" />
        <twig:Input type="email" placeholder="Email" name="email" required="true" />
        <twig:Input type="date" placeholder="Birth date" name="birth-date" required="true" />
        <twig:Input type="tel" placeholder="Phone number" name="phone-number" required="true" />
        <twig:Input type="password" placeholder="Password" name="password" required="true" />
        <twig:Input type="password" placeholder="Confirm Password" name="confirm-password" required="true" />
        <button type="submit" class="signup-btn">Sign Up</button>
        <p class="sign-text">Already have an Account? <a class="sign-link" href="{{ path('app_signin') }}">Sign In</a></p>
    </form>
{% endblock %}