{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path('app_signin_post') }}" data-turbo="false">
        <h1 class="sign-header">Sign In</h1>
        {% if app.request.query.get('error') %}
            <div class="error-message">{{ app.request.query.get('error') }}</div>
        {% endif %}
        <twig:Input type="email" placeholder="Email" name="email" required="true" />
        <twig:Input type="password" placeholder="Password" name="password" required="true" />
        <button type="submit" class="signup-btn">Sign In</button>
        <p class="sign-text">You don't have an Account? <a class="sign-link" href="{{ path('app_signup') }}">Sign Up</a></p>
    </form>
{% endblock %}