<div class="fav-card-container">
    <h3 class="fav-card-title">{{title}}</h3>
    <img class="fav-img" src="{{src}}" alt="{{alt}}"/>
    <twig:Button icon="fa-trash"  text="Remove" class="remove-btn"/>
</div>