<section class="hero-section">
  <div class="img-container">
    <img class="hero-img" src="./img1.png" alt="Hotel Bild 1" />
  </div>
  <div class="hero-child">
    <h1>{{title}}</h1>
    <p class="hero-text">{{text}}</p>
    <twig:Button icon="fa-hand-pointer" text="Check it out" href="{{href}}"/>
  </div>
</section>
