{% set sliderImages = [
    {'src': 'img1.png', 'alt': 'Bild 1'},
    {'src': 'img1.png', 'alt': 'Bild 1'},
    {'src': 'img1.png', 'alt': 'Bild 1'},
] %}
    <section>
      <h2 class="title">Hotel Title</h2>
      <div class="first-container">
        <p class="sub-title">Hotel Subtext</p>
        <div class="icon-container">
          <div class="button-container">
            <twig:IconButton  icon="fa-heart"/>
            <twig:IconButton  icon="fa-square-share-nodes"/>
            <twig:IconButton  icon="fa-eye-slash"/>
            <twig:IconButton  icon="fa-code-compare"/>
          </div>
          <twig:Rating   rating="4.5" reviews="143 reviews"/>
        </div>
      </div>
      <div class="second-container">
          <twig:Slider id="slider1" images="{{sliderImages}}" />
        <div class="info-container">
          <h3>About Hotel</h3>
          <p class="hotel-description">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt.
          </p>
          <h3>Amenities</h3>
          <div class="amenities-container">
            <twig:SpanIcon icon="fa-spa"  text="Wellnesszentrum"/>
            <twig:SpanIcon icon="fa-person-swimming"  text="Schwimmbad"/>
            <twig:SpanIcon icon="fa-square-parking"  text="Parkplatz"/>
            <twig:SpanIcon icon="fa-utensils"  text="offenes Buffet"/>
          </div>
          <p class="available-room">
            Available Rooms: <span class="number-of-available-rooms">2</span>
          </p>
          <twig:Button icon="fa-percent"  text="Jetzt Entdecken!" class="discover-btn"/>
        </div>
      </div>
    </section>